.max-width {
  max-width: 720px;
}
body {
  background-image: url("https://dashboard.thefinanser.com/wp-content/uploads/2019/07/future.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.h1{
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  /* background: linear-gradient(to right, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  text-decoration: underline; */
}





.option {
  border: 2px solid #ccc;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.option:hover {
  background-color: #f1f1f1;
}

.result-box {
  font-size: 18px;
